@use "sass:math";

$REM: 18;

$w_tablet: 768px;
$w_desktop: 1440px;

$colors: (
  tan: #d5966c,
  chinese-black: #151515,
  outer-space: #444444,
  white: #ffffff,
);

$font-heading: "Big Shoulders Display", cursive;
$font-body: "Outfit", sans-serif;
