@use "utilities/global" as *;
@use "components/link" as *;

@include setup;

img {
  display: block;
  max-width: 100%;
}

h1,
h2 {
  font-family: $font-heading;
  text-transform: uppercase;
  color: color(chinese-black);
}

p {
  @include setFont(rem(18px), 28, 300);
  font-family: $font-body;
  color: color(outer-space);
  @media (min-width: $w_br-inter) {
    @include setFont(rem(22px), 32);
  }
}

.header {
  margin-bottom: 120px;
  font-size: 0;
  //to eliminate gap between hero image and div
  @media (min-width: $w_tablet) {
    display: flex;
  }
  @media (min-width: $w_br-inter) {
    margin-bottom: 180px;
    max-width: 1440px;
    margin-inline: auto;
    position: relative;
  }
}

.header__black-box {
  display: none;
  background-color: color(chinese-black);
  overflow: hidden;
  @media (min-width: 800px) {
    display: block;
    width: min(lerp(800px, 0px, 1300px, 450px), 450px);
  }
}

.header__hero-img {
  @media (min-width: 769px) {
    width: lerp(769px, 437px, $w_desktop, 540px);
  }
}

.header__text {
  padding: {
    top: 32px;
    inline: max(16px, lerp(375px, 16px, $w_tablet, 40px));
  }
  @media (min-width: $w_tablet) {
    padding: 0;
    max-width: rem(339px);
    position: absolute;
    top: 145px;
    right: lerp($w_tablet, 40px, $w_desktop, 165px);
  }
  @media (min-width: $w_br-inter) {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    left: 165px;
    right: min(lerp($w_br-inter, 50px, $w_desktop, 165px), 165px);
    top: 190px;
  }
}

.header__title {
  @include setFont(rem(60px), 55, 900);
  margin-bottom: em(32px, 60px);
  @media (min-width: $w_tablet) {
    @include setFont(rem(70px), 65);
    margin-bottom: em(48px, 70px);
  }
  @media (min-width: 1300px) {
    @include setFont(rem(96px), 88);
  }
}

.title--black-box {
  display: none;
  position: relative;
  top: 190px;
  left: 165px;
  z-index: 1;
  @media (min-width: $w_br-inter) {
    display: block;
  }
}

.header_paragraph {
  margin-bottom: em(32px, 18px);
  @media (min-width: $w_tablet) {
    margin-bottom: em(48px, 18px);
  }
  @media (min-width: $w_br-inter) {
    max-width: 350px;
    margin-bottom: em(64px, 22px);
  }
}

.link-button {
  @include link-button("right");
}

.grid {
  padding-inline: max(16px, lerp(375px, 16px, $w_tablet, 40px));
  margin-bottom: 120px;
  @media (min-width: $w_tablet) {
    padding-inline: clamp(
      40px,
      lerp($w_tablet, 40px, $w_desktop, 164px),
      164px
    );
    display: grid;
    grid-template: repeat(2, min-content) 1fr / 1fr minmax(107px, auto) 1fr;
    grid-template-areas:
      "white-section img1 img1"
      "img2 img2 img3"
      "img2 img2 black-section";
    gap: clamp(11px, lerp($w_tablet, 11px, $w_desktop, 30px), 30px);
  }
  @media (min-width: $w_desktop) {
    grid-template: 400px 313px 377px / 445px 160px 445px;
    grid-template-areas:
      "white-section img1 img1"
      "img2 img2 img3"
      "img2 img2 black-section";
    justify-content: center;
    margin-bottom: 180px;
  }
}

.grid img {
  margin-bottom: 16px;
  @media (min-width: $w_tablet) {
    margin: 0;
  }
}

@for $i from 1 through 3 {
  .grid__img#{$i} {
    grid-area: img#{$i};
  }
}

.grid__white-section {
  margin-top: 25px;
  @media (min-width: $w_tablet) {
    grid-area: white-section;
    margin-top: 36px;
    max-width: 223px;
  }
  @media (min-width: $w_br-inter) {
    margin-top: 60px;
    max-width: 350px;
  }
}

//responsive line-break
.br__day-at {
  @media (min-width: $w_br-inter) {
    display: none;
  }
}

.grid__heading {
  @include setFont(rem(50px), 45, 900);
  @media (min-width: $w_desktop) {
    @include setFont(rem(60px), 60);
  }
}

.heading--white {
  margin-bottom: em(21px, 50px);
  @media (min-width: $w_desktop) {
    margin-bottom: em(30px, 60px);
  }
}

.grid__paragraph {
  margin-bottom: em(32px, 18px);
  @media (min-width: $w_tablet) {
    margin: 0;
  }
}

.grid__black-section {
  background-color: color(chinese-black);
  padding-inline: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 293px;
  @media (min-width: $w_tablet) {
    grid-area: black-section;
    padding-block: 0;
    padding-inline: 28px;
  }
  @media (min-width: $w_desktop) {
    padding: 64px 47px;
    align-self: center;
  }
}

.heading--black {
  margin-bottom: em(24px, 50px);
  @media (min-width: $w_desktop) {
    margin-bottom: em(32px, 60px);
  }
}

.text--white {
  color: color(white);
}

@import "components/footer";
