.link-button {
  font-family: "Big Shoulders Display", cursive;
  font-size: 1.1111111111rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: 3.64px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #151515;
  color: #ffffff;
  display: inline-block;
  padding: 1.2em 1.65em;
  position: relative;
}

:root {
  font-size: 1.125em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
em {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

p,
address {
  font-family: "Outfit", sans-serif;
  font-style: normal;
}
@media (min-width: 1100px) {
  p,
address {
    font-size: 1.2222222222rem;
    line-height: 1.4545454545;
    font-weight: 300;
  }
}

.map {
  font-size: 0;
}

.link-button {
  position: absolute;
  top: 0;
  left: max(56px, 0.0992366412 * 100vw + 18.786259542px);
}
.link-button::before {
  content: "";
  display: inline-block;
  width: 3.1111111111rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: -3.1111111111rem;
  background-color: #d5966c;
  background-image: url(../assets/icon-arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 0.4444444444rem 1.3333333333rem;
  background-position: center;
}
.link-button:hover {
  background-color: #d5966c;
}
.link-button:hover::before {
  background-color: #151515;
}
@media (min-width: 768px) {
  .link-button {
    left: min(212px, 0.1741071429 * 100vw + -38.7142857143px);
  }
}

.location {
  background-color: #151515;
  color: #ffffff;
  padding: max(48px, 0.1230769231 * 100vw + 1.8461538462px) max(16px, 0.0738461538 * 100vw + -11.6923076923px) max(56px, 0.0738461538 * 100vw + 28.3076923077px);
}
@media (min-width: 700px) {
  .location {
    padding: min(104px, 0.0216216216 * 100vw + 72.8648648649px) min(165px, 0.1689189189 * 100vw + -78.2432432432px) min(128px, 0.0648648649 * 100vw + 34.5945945946px);
    display: flex;
    justify-content: space-between;
  }
}

address {
  margin-bottom: 1.1111111111em;
}

.location__heading {
  font-size: 2.7777777778rem;
  line-height: 0.9;
  font-weight: 900;
  margin-bottom: 0.96em;
}
@media (min-width: 1100px) {
  .location__heading {
    font-size: 3.8888888889rem;
    line-height: 1;
  }
}

.location__address--em {
  font-size: 1.7777777778rem;
  line-height: 1;
  font-weight: 900;
  color: #d5966c;
  font-style: normal;
  display: inline-block;
  margin-bottom: 0.625em;
}
@media (min-width: 1100px) {
  .location__address--em {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0.6666666667em;
  }
}

@media (min-width: 700px) {
  .location__text-container {
    max-width: min(540px, 0.1918918919 * 100vw + 263.6756756757px);
  }
}

.br--our-location {
  display: none;
}
@media (min-width: 700px) {
  .br--our-location {
    display: block;
  }
}

.footer {
  background-color: #151515;
  padding: 48px 32px;
}
@media (min-width: 700px) {
  .footer {
    display: flex;
    padding-block: calc(0.0324324324 * 100vw + 33.2972972973px);
    padding-inline: calc(0.1689189189 * 100vw + -78.2432432432px);
  }
}

.footer__logo {
  margin-bottom: 38px;
}
@media (min-width: 700px) {
  .footer__logo {
    align-self: flex-start;
  }
}

.footer__paragraph {
  font-size: 0.8888888889rem;
  line-height: 1.625;
  font-weight: 300;
  margin-bottom: 2.375em;
}
@media (min-width: 700px) {
  .footer__paragraph {
    max-width: min(0.2013513514 * 100vw + 140.0540540541px, 430px);
    margin: 0 auto 0 min(0.1013513514 * 100vw + -5.9459459459px, 140px);
  }
}
@media (min-width: 1100px) {
  .footer__paragraph {
    font-size: 1rem;
    line-height: 1.5555555556;
  }
}

.social-media {
  display: flex;
  justify-content: space-between;
  max-width: 100px;
}
@media (min-width: 700px) {
  .social-media {
    align-self: flex-start;
    width: 100px;
  }
}

.social-media svg {
  cursor: pointer;
}
.social-media svg:hover path {
  fill: #d5966c;
}

.footer {
  background-color: #d5966c;
}

.social-media svg:hover path {
  fill: #ffffff;
}

/*# sourceMappingURL=location.css.map */
